html, body{
  min-height: 100%;
}
body,div,form, input,p{
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 22px;
}

h1 {
  font-weight: 400;
}

h1 {
  color: blue;
}
p {
  color: red;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
  width: 100%;
}

.home-btn-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #095484;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #0666a3;
}
